* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #8360c3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	color: white;
}

a {
	color: white;
}

.calc-row {
	background-image: url("../images/bubble.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90vh;
	height: 70vh;
}

.calc-container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
	height: 100px;
	text-align: center;
	width: 100px;
	border: none;
	border-radius: 5px;
}

.calc-div {
	font-size: 30px;
}

.corner-image {
	background-image: url("../images/math.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
	width: 500px;
	margin-top: -250px;
}

footer {
	margin-top: -50px;
}

.footer-link {
	color: black;
}